#include "mpispec/mpispec.h"
<% header_files.each do |header_file| %>
#include "../src/<%= header_file %>"
<% end %>

mpispec_init

<% specs.each do |spec| %>
  MPISpec_Run( <%= spec %> )
<% end %>

mpispec_finalize
